canvas {
    display: block;
    vertical-align: bottom;
    background-color: #2B3E50
}

.jumbotron {
    padding: 100px 50px;
    background: none;
    color: white;
}

body {
    color: #2B3E50;
    text-align: center;
}

.panel {
    border-color: #2B3E50 !important;
    border-radius: 0px;
    border-width: 1px;
    text-align: center;
}

.panel-heading {
    border-radius: 0px;
    background-color: #149a80;
    color: #fff;
}

.login-panel {
    background-color: #fff;
}

.login-panel #error {
    color: black;
}

.img-valign {
    vertical-align: bottom;
}

.container-light {
    margin: 30px;
    padding: 20px 20px;
    text-align: center;
}

.logo-small {
    font-size: 50px;
    color: #149a80;
}

hr {
    border-color: #149a80;
    border-width: 2px;
    width: 90%;
}

.carousel-control.right, .carousel-control.left {
    color: #149a80;
    background-image: none;
}

.navbar {
    margin-bottom: 0;
    background-color: #2B3E50;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2B3E50 !important;
    background-color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
}

.navbar .glyphicon {
    color: #f0ad4e;
}

.navbar-default {
    border-color: transparent;
}

.open {
    color: #2B3E50;
    background-color: white !important;
}

.dropdown-menu a {
    color: #2B3E50 !important;
    padding: 5px;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
