
canvas {
    display: block;
    vertical-align: bottom;
}

.jumbotron {
    padding: 100px 50px;
    background: none;
    color: white;
}

body {
    color: #EBEBEB;
    text-align: center;
    background-color: #2B3E50;
}

.panel {
    border-color: #f0ad4e !important;
    border-radius: 0px;
    border-width: 1px;
    text-align: center;
    background-color: #4E5D6C;
}

.panel-heading {
    border-radius: 0px;

    background-color: #2B3E50;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.login-panel {
    background-color: #fff;
}

.panel-footer {
    background-color: #4E5D6C;
}


.img-valign {
    vertical-align: bottom;
}

.container-light {
    background-color: #4E5D6C;
    padding: 40px 40px;
    text-align: center;
}

.container-dark {
    background: none;
    padding: 40px 40px;
    text-align: center;
}

.logo-small {
    font-size: 50px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.navbar {
    margin-bottom: 0;
    background-color: #2B3E50;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2B3E50 !important;
    background-color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
}

.glyphicon {
    color: #f0ad4e;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #2B3E50;
    background-color: white !important;
}

.dropdown-menu {
    color: #2B3E50 !important;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
}

.dropdown-menu a {
    color: #2B3E50 !important;
    padding: 5px;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

