body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 20px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #00284d;
    color: #fff;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
}

.img-valign {
    vertical-align: bottom;
}

.image-wrap {
    padding: 15px;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #cce6ff;
}

.logo-small {
    color: #00284d;
    font-size: 50px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #00284d;
}

.carousel-indicators li {
    border-color: #00284d;
}

.carousel-indicators li.active {
    background-color: #00284d;
}

.item h4 {
    color: #00284d;
    font-size: 40px;
    line-height: 1.375em;
    font-weight: 400;
}

.item span {
    font-size: 30px;
    font-style: italic;
}

.panel {
    border: 1px solid #00284d;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-heading {
    color: #fff !important;
    background-color: #00284d !important;
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-body {
    font-size: 20px;
}

.panel-footer {
    background-color: #cce6ff !important;
}

.panel-footer h3 {
    font-size: 30px;
}

.panel-footer span {
    font-size: 20px;
}

.navbar {
    margin-bottom: 0;
    background-color: #00284d;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00284d !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #00284d;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}